<app-header titulo="Recomendaciones"></app-header>

<ion-content>
    <ion-item><b><ion-text style="color: #1a8e55;">
        ¿Qué hacer ante lluvias intensas o tormentas fuertes?
    </ion-text></b></ion-item>

    <ion-item><ion-text >
        <ion-icon style="color: #1a8e55;" name="alert" ></ion-icon>
        Infórmese y preste atención a los alertas meteorológicos y avisos que emite el Municipio o Comuna.
    </ion-text ></ion-item>
    <ion-item><ion-text>
        <ion-icon style="color: #1a8e55;" name="alert" ></ion-icon>
        Tenga siempre a mano velas, linterna, radio con pilas y un botiquín de primeros auxilios.
    </ion-text></ion-item>
    <ion-item><ion-text>
        <ion-icon style="color: #1a8e55;" name="alert" ></ion-icon>
        Quédese en casa. No circule, salvo extrema necesidad. No tenga contacto con paredes, postes de luz y árboles.
   </ion-text></ion-item>
    <ion-item><ion-text>
        <ion-icon style="color: #1a8e55;" name="alert" ></ion-icon>
        Si maneja, hágalo con precaución y a una velocidad adecuada.
    </ion-text></ion-item>
    <ion-item><ion-text>
        <ion-icon style="color: #1a8e55;" name="alert" ></ion-icon>
        Desconecte los artefactos eléctricos.
   </ion-text></ion-item>
    <ion-item><ion-text>
        <ion-icon style="color: #1a8e55;" name="alert" ></ion-icon>
        Si está viajando, quédese en el interior del vehiculo.
    </ion-text></ion-item>

</ion-content>

<app-footer></app-footer>
