<app-header titulo="Glosario"></app-header>

<ion-content>
    <ion-item><ion-text>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        ESTADO: Condiciones de un camino rural para la posibilidad o no de ser
        transitado. Los Estados de camino se pueden clasificar en: Bueno - Regular - Malo - Cortado 
    </ion-text></ion-item>
    <ion-item><ion-text>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        ESTADO BUENO: Es un camino rural en buen estado. Es
        posible transitarlo sin ningún problema o
        consecuencia.
    </ion-text></ion-item>
    <ion-item><ion-text>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        ESTADO REGULAR: Es un camino rural que tiene posibilidades
        de ser transitado aunque no es del todo seguro
        que no ocurran problemas.
    </ion-text></ion-item>
    <ion-item><ion-text>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        ESTADO MALO: Es un camino rural que es imposible de
        transitar sin la ocurrencia de problemas.
    </ion-text></ion-item>
    <ion-item><ion-text>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        ESTADO CORTADO: El camino está cortado. No se encuentra
        disponible para ser transitado..
    </ion-text></ion-item>
    <ion-item><ion-text>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        AFECTACIÓN: Eventos o condiciones que contribuyen al deterioro y mal
        estado de los caminors rurales, generando dificultades para su transitabilidad. 
    </ion-text></ion-item>

</ion-content>

<app-footer></app-footer>