<ion-header>
  <ion-toolbar>
    <ion-title>INICIO DE SESION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" (click)="signUp()" >REGISTRARSE</ion-button>
  <ion-button expand="block" (click)="signIn()" >ABRIR SESION DE USUARIO</ion-button>
  <ion-button expand="block" (click)= "usuarioinvitado()">ACCEDER COMO USUARIO INVITADO</ion-button>


  <ion-button expand="block" fill="outline">INGRESAR CON FACEBOOK</ion-button>
  <ion-button expand="block" fill="outline">INGRESAR CON GOOGLE</ion-button>
</ion-content>
