<app-header titulo="PREGUNTAS FRECUENTES"> </app-header>

<ion-content>
    <ion-item><ion-text>
        <ion-icon name="help-circle-outline"></ion-icon>
        ESTADO: Condiciones de un camino rural para la posibilidad o no de ser
        transitado. Los Estados de camino se pueden clasificar en: Bueno - Regular - Malo - Cortado 
    </ion-text></ion-item>
    <ion-item><ion-text>
        <ion-icon name="help-circle-outline"></ion-icon>
        ESTADO: Condiciones de un camino rural para la posibilidad o no de ser
        transitado. Los Estados de camino se pueden clasificar en: Bueno - Regular - Malo - Cortado 
    </ion-text></ion-item>
    <ion-item><ion-text>
        <ion-icon name="help-circle-outline"></ion-icon>
        ESTADO: Condiciones de un camino rural para la posibilidad o no de ser
        transitado. Los Estados de camino se pueden clasificar en: Bueno - Regular - Malo - Cortado 
    </ion-text></ion-item>
</ion-content>

<app-footer></app-footer>