<app-header titulo="PREGUNTAS FRECUENTES"> </app-header>

<ion-content>
    <ion-item><b><ion-text style="color: #1a8e55;">
            <ion-icon name="help-circle-outline" style="color: #1a8e55;" ></ion-icon>
            ¿Qué hacer ante lluvias intensas o tormentas fuertes?
    </ion-text></b></ion-item>

    <ion-item><ion-text>
        Condiciones de un camino rural para la posibilidad o no de ser
        transitado. Los Estados de camino se pueden clasificar en: Bueno - Regular - Malo - Cortado 
    </ion-text></ion-item>
   
    <ion-item><b><ion-text style="color: #1a8e55;">
        <ion-icon name="help-circle-outline" style="color: #1a8e55;" ></ion-icon>
        ¿Qué hacer ante lluvias intensas o tormentas fuertes?
</ion-text></b></ion-item>

<ion-item><ion-text>
    Condiciones de un camino rural para la posibilidad o no de ser
    transitado. Los Estados de camino se pueden clasificar en: Bueno - Regular - Malo - Cortado 
</ion-text></ion-item>


<ion-item><b><ion-text style="color: #1a8e55;">
    <ion-icon name="help-circle-outline" style="color: #1a8e55;" ></ion-icon>
    ¿Qué hacer ante lluvias intensas o tormentas fuertes?
</ion-text></b></ion-item>

<ion-item><ion-text>
Condiciones de un camino rural para la posibilidad o no de ser
transitado. Los Estados de camino se pueden clasificar en: Bueno - Regular - Malo - Cortado 
</ion-text></ion-item>

<ion-item><b><ion-text style="color: #1a8e55;">
    <ion-icon name="help-circle-outline" style="color: #1a8e55;" ></ion-icon>
    ¿Qué hacer ante lluvias intensas o tormentas fuertes?
</ion-text></b></ion-item>

<ion-item><ion-text>
Condiciones de un camino rural para la posibilidad o no de ser
transitado. Los Estados de camino se pueden clasificar en: Bueno - Regular - Malo - Cortado 
</ion-text></ion-item>

<ion-item><b><ion-text style="color: #1a8e55;">
    <ion-icon name="help-circle-outline" style="color: #1a8e55;" ></ion-icon>
    ¿Qué hacer ante lluvias intensas o tormentas fuertes?
</ion-text></b></ion-item>

<ion-item><ion-text>
Condiciones de un camino rural para la posibilidad o no de ser
transitado. Los Estados de camino se pueden clasificar en: Bueno - Regular - Malo - Cortado 
</ion-text></ion-item>

   
</ion-content>

<app-footer></app-footer>