<app-header titulo="Crear Estado de Camino"></app-header>

<ion-content>

  <!-- Checkboxes/estados en una lista -->
<ion-list *ngFor="let estado of estados">
    <ion-item >
      <img [src]="icon" height="30px">
      <ion-label><b><i>{{estado.val}}</i> </b></ion-label>
      <ion-checkbox slot="end" [(ngModel)]="estado.isChecked" (click)="validar(estado.val)"></ion-checkbox>
    </ion-item>
    <ion-item><ion-text>{{estado.texto}}</ion-text></ion-item>
  </ion-list>

  <ion-item> 
    <ion-button slot="end" size="small" (click)="crearEstado()">ACEPTAR</  ion-button>
</ion-item>
</ion-content>

<app-footer></app-footer>